@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

button:focus {
    outline:none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

@media (max-width: 992px) {
    .container {
        width: 100%;
        max-width: 750px;
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
        width: 100%;
        padding: 0 20px;
    }
}
@media screen and (max-width: 599px) {
    .container {
        padding: 0 10px;
    }
}

.main-navigation ul ul a {
    padding-left: 65px;
    text-align: left;
}

/*Header*/
.header-search-wrap {
    position: relative;
}
.page-header-wrap {
    background: #32394a;
    padding: 29px 0;
}

.page-header-wrap, .page-footer-wrap {
    font-family: OpenSans, sans-serif, arial;
}

header a, footer a {
    color: #edeff4;
    text-decoration: none;
}

.page-header-wrap .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.header-button img {
    margin-right: 10px;
    height: 17px;
}

.page-header-wrap .logo {
    max-width: 145px;
    height: 28px;
}

.page-header-wrap .logo img {
    width: 100%;
}

.hamburger {
    display: none;
    position: absolute;
    right: 0;
}

.hamburger svg {
    fill: #fff;
}

.header-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-button > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-right: 36px;
    border: 1px solid #a0a6b5;
    border-radius: 3px;
    font-size: 14px;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.header-button > li:hover {
    opacity: .5;
    text-decoration: none;
}

.header-button .equipment-btn {
    position: relative;
    padding-right: 74px;
}
.header-button .equipment-btn:after {
    content: url('../images/arrow-white.png');
    position: absolute;
    right: 17px;
    height: 17px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.header-button .equipment-dropdown:hover {
    opacity: 1;
}

.header-button > li > a {
    position: relative;
    padding: 10px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-button a .login-mobile {
    display: none;
}

.equipment-menu {
    position: absolute;
    background: #32394a;
    border: 1px solid #a0a6b5;
    border-radius: 0 0 3px 3px;
    z-index: 10000;
    display: none;
    padding: 25px 20px 28px;
    left: -1px;
    right: -1px;
    top: 37px;
}

.equipment-menu li {
    margin-right: 0;
    margin-bottom: 20px;
}
.equipment-menu li:last-child {
    margin-bottom: 0;
}
.header-button > li:last-child {
    margin-right: 0;
}
.equipment-menu a:hover {
    color: #ffc947;
    border-bottom: 1px solid;
}



/*.header-button li:nth-child(3):before {*/
    /*position: absolute;*/
    /*content: '';*/
    /*width: 12px;*/
    /*height: 12px;*/
    /*border: solid #a0a6b5;*/
    /*border-width: 0 1px 1px 0;*/
    /*bottom: -7px;*/
    /*left: 50%;*/
    /*transform: translateX(-50%) rotate(45deg);*/
    /*background: #32394a;*/
/*}*/
.header-button li:nth-child(3) a:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border: solid #a0a6b5;
    border-width: 0 1px 1px 0;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background: #32394a;
}



/*Header open*/
.header-button li.active {
    border-radius: 3px 3px 0 0;
}
.header-button li.active .equipment-menu {
    display: block;
}
/*Header open*/


.bg-dark-blue {
    background: #232834;
}

.main-navigation li > a {
    color: #b9becc;
}


@media (max-width: 992px) {
    .hamburger.close svg {
        display: none;
    }

    .hamburger.close span {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 22px;
        background: transparent;
    }

    .hamburger.close span:after, .hamburger.close span:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: #e3e8ee;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
    }

    .hamburger.close span:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .hamburger.close span:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .header-button .equipment-dropdown.active .equipment-menu {
        display: none;
    }
    .equipment-menu li:last-child {
        margin-bottom: 0;
    }
    .header-button.active {
        left: -20px;
        right: -20px;
    }
    .header-button.active .equipment-menu {
        position: relative;
        display: block;
        left: 0;
        top: 0;
        border: 0;
        padding: 5px 0 15px 55px;
    }

    .page-header-wrap {
        padding: 13px 0;
    }

    .equipment-dropdown {
        flex-direction: column;
    }

    .header-button {
        display: none;
        position: absolute;
        left: -15px;
        right: -15px;
        top: 41px;
        z-index: 10;
        background: #32394a;
        padding: 20px 18px;
        -webkit-box-shadow: inset 0 10px 80px rgba(0, 0, 0, 0.25);
        box-shadow: inset 0 10px 80px rgba(0, 0, 0, 0.25);
    }

    .header-button.active {
        display: block;
    }

    .header-button > li {
        margin-right: 10px;
        border: 0;
    }

    .page-header-wrap .logo {
        max-width: 120px;
    }

    .hamburger {
        display: block;
        height: 22px;
    }

    .header-button .equipment-dropdown {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .header-button > li {
        margin-right: 8px;
        border: 0;
        border-bottom: 1px solid #4c5467;
    }

    .header-button > li > a {
        padding: 10px 0;
    }

    .header-button > li img {
        margin-right: 11px;
        width: auto;
        height: auto;
        max-width: 17px;
    }

    .header-button img {
        margin-right: 0;
    }

    .header-button .equipment-btn {
        padding-right: 26px;
    }

    .header-button > li .equipment-btn img {
        margin-top: -1px;
    }

    .header-button a span {
        font-weight: 400;
        display: block;
        border-bottom: 1px dashed;
    }

    .header-button.active .equipment-dropdown .equipment-btn:after {
        -webkit-transform: translateY(-50%) rotate(0);
        transform: translateY(-50%) rotate(0);
    }
    .header-button.active .equipment-dropdown.active .equipment-btn:after {
        -webkit-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
    }

    .header-button .equipment-btn:after {
        right: 0;
    }

    .header-button .equipment-btn span {
        border-bottom: 0;
    }

    .header-button.active .equipment-menu {
        position: relative;
        display: block;
        left: 0;
        top: 0;
        border: 0;
        padding: 5px 0 15px 55px;
    }

    .equipment-menu li {
        position: relative;
    }

    .equipment-menu li:before {
        content: '';
        position: absolute;
        left: -12px;
        background: #969cac;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .equipment-menu li a {
        color: #7b8292;
    }

    .header-button a {
        border: 0;
        padding: 0;
    }

}

@media screen and (max-width: 599px) {
    .header-button.active {
        left: -10px;
        right: -10px;
    }
}

/*Header*/

/*Footer*/
.page-footer-wrap {
    background: #32394a;
    padding: 40px 0;
}

.page-footer-wrap .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
}

.copyright:hover {
    text-decoration: underline;
}

.page-footer a {
    color: rgba(153, 153, 153, 0.9);
}

.footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-contacts a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-contacts a:hover {
    color: #fff;
}

.footer-contacts img {
    margin-right: 7px;
    width: 18px;
    height: 14px;
}

.footer-contacts .contact-phone {
    margin-right: 95px;
}

.installer-company a {
    text-decoration: none;
    border-bottom: 1px dashed;
}

@media (max-width: 992px) {
    .page-footer-wrap {
        padding: 0 0 35px;
    }

    .page-footer-wrap .page-footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .copyright {
        text-align: center;
    }

    .copyright a {
        display: inline-block;
        padding: 25px 0 20px;
    }

    .footer-contacts {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px 0 35px;
    }

    .footer-contacts .contact-phone {
        margin: 0 0 15px;
    }

    .installer-company {
        text-align: center;
        margin-bottom: 10px;
    }


}

/*Footer*/

/*Breadcrumbs*/
.kama_breadcrumbs {
    max-width: 92.6%;
    width: 1440px;
    margin: 0 auto;
    padding: 2rem 1.5% 1rem 1.5%;
}
.kama_breadcrumbs a {
    color: #388ddc;
    text-decoration: none;
}
span.kb_sep {
    color: #9295a0;
}

@media (max-width: 1040px) {
    .kama_breadcrumbs {
        max-width: 94%;
        padding: 2rem 2% 1rem 2%;
    }
}

@media (max-width: 800px) {
    .kama_breadcrumbs {
        max-width: 97%;
        padding: 2rem 2% 1rem 2%;
    }
}
@media (max-width: 600px) {
    .kama_breadcrumbs {
        max-width: 92%;
    }
}

/*Breadcrumbs*/

.sidebar .widget-content a, .post-content a {
    color: #388ddc;
    text-decoration: none;
}
.sidebar .widget-content a:hover, .post-content a:hover {
    text-decoration: underline;
}

